body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

body .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
body .btn:hover {
    background-color: RoyalBlue;
}